/* 
Perform basic reset to make every browser rendered in the exact same way
To do this we use the universal selector (*) to select every element on the page
and apply the declerations to it.
This removes every margin or padding that browsers may add to elements.
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is (1rem = 10px).
  font-size: 62.5% !important;
}

/* Define project type font elements. */
body {
  box-sizing: border-box;
  position: relative;
  background: $color-secondary;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

::selection {
  background-color: $color-secondary;
}

.container{
  margin: auto 9em;
}


.middle_position{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexer{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}


@media(max-width: 1000px){
  .container{
    margin: auto 3em;
  }
}


@media(max-width: 600px){
  .container{
    margin: auto 1em;
  }
}

@media(max-width: 1200px){
  .container{
    margin: auto 2em;
  }
}

.spinner__inline{
  margin: 2em auto;
}

.map__compact__image{
  overflow: hidden;margin-top: 0;
  border-radius: 4px;
  width: 100%;
  position: relative;
  
  img{
    width: 100%;
    height: 95px;
  }
}

.map__compact__footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.main{
  width: 100%;
  margin-top: 3em;
}

.white__border{
  background-color: #fff;
  border: 1px solid #dcdacb;
  border-radius: 4px;
  padding: 2em;
}

.query__action__container  .slick-list:hover{
  overflow: visible !important;
}

@media(min-width: 1280px){
 .query__action__container .slick-track{
    width: 100% !important;
  }
}


.spinner__inline > .chakra-spinner{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: -1 !important;
  margin: 2em auto;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #7a7d85;
}

.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #7a7d85;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

// Toast containers
.Toastify__toast--success{
  background: rgba(200,230,201,0.9) !important;
  border: solid #439446 !important;
  border-width: 0 0 0 6px !important;
}


.Toastify__toast--info{
  background: rgba(179,229,252,0.9) !important;
  border: solid #0891cf !important;
  border-width: 0 0 0 6px !important;
}


.Toastify__toast--warning{
  background: rgba(255,236,179,0.9) !important;
  border: solid #d9a300 !important;
  border-width: 0 0 0 6px !important;
  color: #6d5100 !important;
}


.Toastify__toast--error{
  background: rgba(255,205,210,0.9) !important;
  border: solid #e60017 !important;
  border-width: 0 0 0 6px !important;
  color: #73000c !important;
}

.Toastify__toast{
  border-radius: 5px !important;
  font-family: 'Signika Negative', sans-serif;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.Toastify__progress-bar{
  border-radius: 5px !important;
  background-color: inherit;
}

.Toastify__close-button {
  color: #000;
}

.alert {
  &__subject {
    font-weight: 600;
    display: block;

    &__success {
      color: #224a23 !important;
    }
    
    &__info{
      color: #044868;
    }
  }

  
  &__success{
    background-color: #C8E6C9;
  }
  
  &__info{
    background: #B3E5FC !important;
  }
  
  
  &__message {
    margin: 0.2rem 0 0 0;
    display: block;
    
    &__success {
      color: #224a23 !important;
      
    }

    &__info{
      color: #044868;
    }
  }
}

.label{
  background-color: #8e909b;
  border-radius: 4px;
  color: #fff;
  padding: 0.5em 1em;
  width: fit-content;
  font-size: 0.8em;
}