/* 
Perform basic reset to make every browser rendered in the exact same way
To do this we use the universal selector (*) to select every element on the page
and apply the declerations to it.
This removes every margin or padding that browsers may add to elements.
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is (1rem = 10px).
  font-size: 62.5% !important;
}

/* Define project type font elements. */
body {
  box-sizing: border-box;
  position: relative;
  background: $color-secondary;
  overflow-x: hidden;
}

::selection {
  background-color: $color-secondary;
}

.container{
  margin: auto 9em;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexer{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}


@media(max-width: 1000px){
  .container{
    margin: auto 3em;
  }
}


@media(max-width: 600px){
  .container{
    margin: auto 1em;
  }
}


