/* 
Perform basic reset to make every browser rendered in the exact same way
To do this we use the universal selector (*) to select every element on the page
and apply the declerations to it.
This removes every margin or padding that browsers may add to elements.
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is (1rem = 10px).
  font-size: 62.5% !important;
}

/* Define project type font elements. */
body {
  box-sizing: border-box;
  position: relative;
  background: $color-accent;
}

::selection {
  background-color: $color-accent;
}
