@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

body{
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300 !important;
  font-size: 1.6rem !important;
  line-height: 1.7 !important;
}

.text {
  &__primary {
    color: $color-primary !important;
  }
  
  &__heading{
    font-size: 27px !important;
  }
  
  &__green{
    color: $color-green !important;
  }
  
  &__main{
    color: $color-main !important;
  }
  
  &__light__grey{
    color: #62646A !important;
  }
  
  &__light__dark{
    color: #8A7D83 !important;
  }
  
  &__md{
    font-size: 17px !important;
  }
  
  &__bigger__md{
    font-size: 18px !important;
  }
  
  &__error{
    color: $error-color;
  }
  &__info__box{
    line-height: 15px !important;
  }
  &__small__info{
    line-height: 15px !important;
  }
  
  &__middle{
    text-align: center;
  }
  
  &__lg{
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    color: #3e4153;
  }
  
  &__mpx{
    font-size: 25px;
  }
  
  &__sm{
    font-size: 14px !important;
  }
  
  &__small__cut{
    width: 60%;
    line-height: 18px;
  }
  
  &__bold{
    font-weight: 600;
  }
  
  &__italic{
    font-style: italic !important;
  }
  
  &__light{
    color: #bbc2dc;
  }
  
  &__silent{
    color: #7a7d85 !important;
  }
  
  &__blue{
    color: #2681db !important;
  }
  
  &__darker{
    color: #3e4153 !important;
  }
  
  &__error{
    color: $error-color !important;
  }
  
  &__success{
    color: $color-green !important;
  }
  
  &__dark__grey{
    color: #555555 !important;
  }
}


.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: block;
}

.truncate__3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5em;
}

@media (max-width: 600px){
  .text{
    &__lg{
      font-size: 20px;
    }
    
    &__heading{
      font-size: 20px;
    }
    
    &__mpx{
      font-size: 17px;
    }
    
    &__small__cut{
      width: 100% !important;
    }
  }
  
 
  
  .truncate__3{
    -webkit-line-clamp: 4;
  }
}

.chakra-menu__group__title{
  font-size: 1em !important;
}