.profile {
  &__tabs {
    background-color: #fff !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .05) !important;
    padding: 0 9em !important;
    position: sticky !important;
    top: 0 !important;
    button {
      font-size: 1em !important;
      color: #6F727F !important;
      outline: none !important;
      padding: 1em !important;

      &:hover {
        color: #3E4153 !important;
      }

      &[aria-selected="true"] {
        color: #3E4153 !important;
      }
    }
  }
  
  &__tasks__action__menu{
    button{
      padding: 0.5em !important;
    }
  }

  &__inner__tabs {
    background-color: #fff !important;
    width: fit-content !important;
    border-radius: 4px;
    button {
      font-size: 0.9em !important;
      color: #6F727F !important;
      outline: none !important;
      padding: 0.7em !important;
     
      &:hover {
        color: #3E4153 !important;
      }
      &[aria-selected="true"] {
        color: #3E4153 !important;
        border-color: $color-blue;
      } 
    }
  }
  
&__table {
  &__text{
    margin-top: 1em !important;
    height: calc(100px - 1em);
  }
  &__container {
    td {
      vertical-align: top !important;
    }
  }
}
}

@media(max-width: 600px) {
  .profile {
    &__tabs {
      padding: 0 0.5em !important;
    }
  }
}

@media(max-width: 1000px) {
  .profile {
    &__tabs {
      padding: 0 3em !important;
    }
  }
}

@media(max-width: 1200px) {
  .profile {
    &__tabs {
      padding: 0 2em !important;
    }
  }
}
