.task{
  &__title{
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: $color-tetiary;
    font-family: inherit;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  &__posted{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  
  &__price__input{
    font-size: 2rem !important;
    height: 2em !important;
    padding-left: 1.3em !important;
    width: 100% !important;
  }
  
  &__bid__form__card{
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    padding: 25px 20px;
    p{
      color: $color-primary;
    }
  }
  
  &__price{
    color: #37a864;
    font-size: 26px;
  }
  
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__action__button{
    outline-width: 0;
    outline: none;
    background-color: #fff;
    border: 1px solid #d2d3d7;
    border-radius: 4px;
    cursor: pointer;
    height: 44px;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 44px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    
    svg{
      height: 20px;
      left: 50%;
      margin-top: -10px;
      position: absolute;
      top: 50%;
      width: 20px;
      margin-left: -10px;
    }
  }
  
  &__card{
    position: relative;
    width: fit-content;
    &__high{
      min-height: calc(100% - 50px) !important;
    }
    &__low{
      height: 50px !important;
    }
    &__img{
      -o-object-fit: contain !important;
      object-fit: contain !important;
      width: 100%;
      height: 100%;
    }
    &__image{
      &__container{
        box-sizing: border-box;
        position: relative !important;
        &:hover{
          .task__card__carousel__next__arr{
            display: flex;
            transition: right .2s ease;
          }

          .task__card__carousel__prev__arr {
            display: flex;
            transition: left .2s ease;
          }
        }
        .slick-slider{
          width: auto !important;
          height: 158px !important;
          display: grid;
          box-sizing: border-box !important;
          text-align: center !important;
        }
      }
    }
    
    &__carousel{
      &__next__arr{
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 40%;
        right: 0;
        background-color: #fff;
        border: none;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        outline: none;
        width: 25px !important;
        height: 25px !important;
        color: #fff;
        padding: 0.5em;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        display: none;
      }
      
      &__prev__arr{
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 40%;
        z-index: 500;
        left: 0;
        background-color: #fff;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border: none;
        outline: none;
        color: #fff;
        width: 25px !important;
        height: 25px !important;
        padding: 0.5em;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        display: none;
      }
    }
  }
  
  &__image{
    &__container{
      box-sizing: border-box;
      position: relative !important;
      .slick-slider{
        width: auto;
        height: 527px !important;
        display: grid;
        box-sizing: border-box !important;
        border: 0.5px solid $border-color;
        text-align: center;
        .sc{
          text-align: center;
        }
        .task__img{
          background-size: 80px;
          max-width: 100%;
          max-height: 100%;
          min-width: 140px;
          min-height: 140px;
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
      
      .slick-track{
        display: flex !important;
        height: 427px !important;
        align-items: center !important;
        background-color: #fff;
      }
    }
  }
  
  &__status__label{
    padding: 0.3em 1em;
    color: white;
    background-color: #7DB343;
    width: fit-content;
    border-radius: 50px;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
  }

  &__status__label__steady{
    padding: 0.3em 1em;
    color: #fff !important;
    background-color: #7DB343;
    width: fit-content;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 700;
  }
  
  &__form__preview__card{
    border: 2px solid $border-color;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 1em;
    position: relative;
    &__overlay{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-secondary;
      color: $color-tetiary;
      opacity: 0;
      
      .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
      }
    }
    
    &:hover{
      .task__form__preview__card__overlay{
        opacity: 1;
      }
    }
  }
  
  &__dots__ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
    li{
      margin: 0px 10px 1em;
      img{
        margin: 0 auto;
        height: 50px;
        width: 50px !important;
        box-shadow: 0px 1px 10px rgba(0,0,0,.2);
      }
    }
  }
  
  &__carousel__dots{
    p{
      text-align: center;
    }
  }
  
  &__carousel{
    align-items: center;
    
    &__next__arr{
      position: absolute;
      display: flex;
      align-items: center;
      top: 30%;
      right: -30px;
      background-color: #fff;
      border: none;
      border-radius: 50%;
      outline: none;
      width: 50px;
      height: 50px;
      color: #fff;
      padding: 1em;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    }
    
    &__prev__arr{
      position: absolute;
      display: flex;
      align-items: center;
      top: 30%;
      z-index: 500;
      left: -30px;
      background-color: #fff;
      border-radius: 50%;
      border: none;
      outline: none;
      color: #fff;
      width: 50px;
      height: 50px;
      padding: 1em;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    }
  }
  
  &__description {
    &__container{
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin: 30px 0;
      overflow-wrap: break-word;
      word-wrap: break-word;
      color: $color-tetiary;
    }
    &__title {
      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
      color: #373373;
      margin: 0 0 20px;
    }
  }
  
  &__avatar{
    &__username{
      fontSize: 19px ; lineHeight: 20px ; textAlign: left;
    }
  }
  
  &__fixed__box{
    position: sticky;
    top: 10%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 5% 5% 5%;
  }
  
  &__details{
    margin-top: 3em;
  }
}

@media(max-width: 500px){
  .task{
    &__top{
      display: block;
      
      &__actions{
        margin-top: 1em;
      }
    }
  }
}

.a{
  text-transform: uppercase;
}

.show__more {
  &__child {
    height: 150px !important;
    overflow: hidden;
    -webkit-transition: height .4s linear;
    -moz-transition: height .4s linear;
    transition: height .4s linear;
    
    &__released{
      height: auto;
    }
  }
  
}

.show__more__btn{
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  color: #2681db;
  background: none;
  border: none;
  bottom: 0;
  cursor: pointer;
  display: block;
  left: 50%;
  padding: 10px;
  position: absolute;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  transition: color .2s linear;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.show__more__fade__out{
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff);
  bottom: 20px;
  height: 100px;
  position: absolute;
  width: 100%;
  right: 0 !important;
}

@media(max-width: 900px){
  .task{
    &__details{
      margin-top: 2em;
    }
  }
}

@media(max-width: 500px){
  .task{
    
    &__avatar{
      margin: 0 auto;
      
      &__username{
        text-align: center;
      }
    }
    &__title{
      font-size: 19px;
    }
    &__image{
      &__container{
        padding: 0 !important;
        .slick-slider{
          .sc img{
            height: calc(60vh - 100px);
          }
        }
      }
    }
    
    &__labels{
      p{
        font-size: 0.9em;
      }
    }
  }
}

.chakra-modal__content{
  max-width: 32em !important;
} 

.bid__description{
  background-color: $color-secondary;
  border-radius: 4px;
  margin-top: 0.8em;
}