.btn__primary{
  background-color: $color-primary !important;
  color: #fff !important;
  
  &:hover{
    background-color: lighten($color-primary, 20%) !important;
    transition: 0.5s ease !important;
  }
}

.btn__white{
  background-color: #fff !important;
  border: 1px solid $border-color !important;
  color: $color-primary !important;
  &:hover{
    background-color: $color-primary !important; 
    transition: 0.5s ease !important;
    color: #fff !important;
  }
}


.btn__shadow{
  box-shadow: 0 2px 10px 0 rgba(55,51,115,.3);
}

.btn{
  height: 40px !important;
  padding: 0 16px !important;
  font-size: 0.9em !important;
  border-radius: 4px !important;
  outline: none !important;
  text-align: center !important;
  vertical-align: top !important;
  
  &__blue{
    background-color: $color-blue !important;
    color: #fff !important;
  }
  
  &__red{
    background-color: $error-color !important;
    color: #fff !important;
  }
  
  &__outlined{
    background: none !important;
    border: 1px solid $border-color !important;
    color: #000 !important;
    font-weight: 500 !important;
  }
  
  &__long{
    height: 34px !important;
    padding: 5px 22px !important;
    border-radius: 4px !important;
    text-align: center !important;
    vertical-align: top !important;
    font-size: 1em !important;
    outline: none !important;
    font-weight: 500 !important;
  }
  
  &__ghost{
    padding: 0 !important;
    font-weight: 500 !important;
    &:hover{
      background: none !important;
    }
  }
  
  &__hover__grey{
    &:hover{
      color: #62646A !important;
    }
  }
  
  &__grey{
    border: 1px solid #62646A;
    color: #62646A !important;
    display: block;
    margin: 0 auto !important;
    &:hover {
      background-color: #62646A !important;
      color: #fff !important;
    }
  }
  
  &__nm{
    font-weight: 500 !important;
    padding: 1em 2em !important;
  }
  
  &__long{
    padding: 1em 4em !important;
  }
  
  &__green{
    background-color: $color-green !important;
    color: #fff !important;
    &:hover{
      background-color: lighten($color-green, 20%) !important;
      transition: 0.5s ease !important;
    }
  }

  &__error{
    background-color: $error-color !important;
    color: #fff !important;
    &:hover{
      background-color: lighten($error-color, 20%) !important;
      transition: 0.5s ease !important;
    }
  }
  
  &__fb{
    color: #fff !important;
    background-color: #3B5998 !important;
  }
  
  &__outline__auth{
    border: 1px solid $border-color !important;
    background: none !important;
    color: $color-tetiary !important;
  }
  
  &__auth{
    padding: 17px 30px 17px 16px !important;
    margin: 10px 0 !important;
    font-weight: 500 !important;
    font-size: 1em !important;
    position: relative !important;
    
    & > .chakra-button__icon{
      position: absolute !important;
      left: 15px !important;
    }
  }
  
  &__sm{
    padding: 4px 12px;
    font-size: 14px;
    height: 30px;
  }
  
  &__none{
    background: none;
    color: #95979d;
    
    &:hover{
      transition: 0.5s ease-in;
      color: $color-primary;
    }
  }
  
  &__bg{
    height: 50px !important;
    font-size: 1em !important;
  }
  
  
  &__accent{
    background-color: lighten($color-primary, 20%);
    color: #fff;
  }
  
  &__silent{
    background-color: #ECECEE !important;
    color: $color-tetiary !important;
    font-weight: 500 !important;
  }
  
  &__full-width{
    width: 100% !important;
  }
}

.btn__bold{
  font-weight: 700;
}

.btn__block{
  display: block !important;
}

.menu__btn{
  &__outlined{
    font-weight: 550 !important;
    background: none !important;
    border: 1px solid #dadbdd !important;
    text-decoration: none !important;
    padding: 8px 12px !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    height: 40px !important;
    background-color: #fff !important; 
  }
}

@media(max-width: 600px){
  .btn{
    &__auth{
      & > .chakra-button__icon{
        position: relative !important;
        left: auto !important;
      }
    }
  }
}