.form{
  &__input{
    height: 40px !important;
    font-size: 1em !important;
    font-weight: 500 !important;
    color: $color-tetiary !important;
    border-color: 1px solid $border-color-darker !important;
    padding: 8px 12px !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    transition: .15s ease-in-out !important;
    &::placeholder{
      font-weight: 200 !important;
    }
  }
  
  &__action__button{
    display: inline-block !important;
    box-sizing: border-box !important;
    position: relative !important;
    padding: 12px 24px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    text-decoration: none !important;
    text-align: center !important;
    cursor: pointer !important;
    -webkit-transition: .15s ease-in-out !important;
    transition: .15s ease-in-out !important;
    height: 45px !important;
  }
  
  &__input_w_icon{
    padding-left: 3em !important;
  }
  
  &__input__icon{
    height: 40px !important;
    width: 40px !important;
    border-right: 1px solid $border-color !important;
    
    &__error{
      border-right: 1px solid $error-color !important;
    }
  }
  
  &__field{
    margin-bottom: 14px;
  }
  
  &__checkbox{
    & > .chakra-checkbox__label{
      font-size: 1em !important;
      color: $color-tetiary;
    }
  }
  
  &__error{
    color: $error-color !important;
    display: block !important;
    margin-top: 0.2em;
  }
}