.navbar{
  position: relative;
  &__container{
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.05);
  }

  
  
  &__flex__top{
    flex-wrap: wrap !important;
  }
  
  &__search{
    display: flex;
    width: 50%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    margin-left: 1em;
  }
  
  &__logo{
    width: 150px;
    height: 50px;
  }
  
  &__list_bottom{
    margin-right: 30px;
  }
  
  &__input__group{
    display: inline-block;
    
    &__right{
      height: 50px !important;
    }
  }
  
  &__search__button{
    background-color: $color-secondary;
    color: $color-primary;
    height: 50px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border: 0.2px solid #D2D3D7;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
 
  &__search__input{
    height: 50px !important;
    font-size: 1em !important;
    font-weight: 500 !important;
    border: 0.2px solid #D2D3D7 !important;
    position: relative !important;
    padding-left: 1em;
    border-radius: 5px;
    outline: none !important;
  }
}

.search{
  &__main{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 130%;
  }
  
  &__location{
   border-radius: 0 !important; 
    border-left: 0 !important;
  }
}


@media (max-width: 1349px) {
  .navbar{
    &__search{
      order: 3;
      width: 100%;
      margin-top: 0.5em;
      margin-left: 0;
    }
}
}

@media (max-width: 600px){
  .navbar{
    &__logo{
      width: 100px;
      height: 50px;
    }
  }
}

.chakra-popover__content{
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) !important;
  width: 400px !important;
  max-height: 60vh !important;
}

.chakra-popover__body{
  overflow-y: scroll !important;  
}

@media (max-width: 500px){
  .chakra-popover__content{
    width: 100vw !important;
  }
}