@import "abstracts/variables";

// BASE STYLES
@import "base/base";
@import "base/typography";


// COMPONENT STYLES
@import "components/navbar";
@import "components/icons";
@import "components/buttons";
@import "components/pagination";
@import "components/reminders";
@import "components/form";
@import "components/location";
@import "components/notification";

// Pages
@import "pages/home";
@import "pages/query";
@import "pages/auth";
@import "pages/task";
@import "pages/profile";

@font-face {
  font-family: 'Larsseit';
  src: local("Larsseit"), url(../font/larsseit-webfont.woff) format("woff");
  src: local("Larsseit"), url(../font/larsseit-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}